<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Social</title>
</head>

<body>

  <header id="header">

    <a class="header__logo" routerLink="/feed" (click)="cerrar()">Feed</a>

    <ul class="header__ingresar">

      <ng-container *ngIf="!usuariosService.loggedIn(); else loggedInTemplate">
        <li class="ingresar__li"> <a class="ingresar__link" routerLink="/register">Register</a></li>
        <li class="ingresar__li"> <a class="ingresar__link" routerLink="/login">Login</a></li>
      </ng-container>

      <ng-template #loggedInTemplate>

        <a class="ingresar__search-container" routerLink="/search" (click)="cerrar()">
          <img class="ingresar__search-img" src="../assets/img/users.svg" alt="">
        </a>

        <div class="ingresar__img-container">
          <img class="ingresar__img" src="{{url+'/user/avatar/'+usuario.image}}" alt="" (click)="desplegar()">
        </div>

      </ng-template>

    </ul>

    <div class="ingresar__despliegue" [class.desplegar]="desplegado">
      <li class="despliegue__li despliegue__li-profile"><a class="despliegue__link" routerLink="/profile"
          (click)="cerrar()">Profile</a></li>
      <li class="despliegue__li despliegue__li-logout"><a class="despliegue__link" routerLink="/login"
          (click)="logOut(); cerrar()">LogOut</a>
      </li>
      <li class="despliegue__li despliegue__li-delete">
        <a class="despliegue__link" routerLink="/profile" (click)="confirmDelete()">Delete profile</a>
        <div id="despliegue__confirmdelete-container">
          <p class="despliegue__confirmdelete-text">Once the account is deleted you will lose all data</p>
          <div class="despliegue__confirmdelete-buttonscontainer">
            <button class="despliegue__confirmdelete-button" (click)="delete(true)">Delete</button>
            <button class="despliegue__confirmdelete-button" (click)="delete(false)">Cancel</button>
          </div>
        </div>
      </li>
    </div>

  </header>

  <div class="container-routeroutlet">
    <router-outlet></router-outlet>
  </div>

</body>

</html>