<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Social</title>
</head>

<body>

  <header id="header">

    <a class="header__logo" routerLink="/feed" (click)="cerrar()">Social Network</a>

    <ul class="header__ingresar">

      <ng-container *ngIf="!usuariosService.loggedIn(); else loggedInTemplate">
        <li class="ingresar__li"> <a class="ingresar__link" routerLink="/register">Register</a></li>
        <li class="ingresar__li"> <a class="ingresar__link" routerLink="/login">Login</a></li>
      </ng-container>

      <ng-template #loggedInTemplate>

        <div class="ingresar__img-container">
          <img class="ingresar__img" src="{{url+'/user/avatar/'+usuario.image}}" alt="" (click)="desplegar()">
        </div>

      </ng-template>

    </ul>

    <div class="ingresar__despliegue" [class.desplegar]="desplegado">
      <li class="despliegue__li"><a class="despliegue__link" routerLink="/profile" (click)="cerrar()">Profile</a></li>
      <li class="despliegue__li"><a class="despliegue__link" routerLink="/login"
          (click)="logOut(); cerrar()">LogOut</a></li>
    </div>

  </header>

  <div class="container-routeroutlet">
    <router-outlet></router-outlet>
  </div>

</body>

</html>