<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>

    <main id="main" (scroll)="onScroll($event)">

        <div class="info-container">

            <div class="info__avatar-container">
                <div class="info__img-container">
                    <img class="info__img" src="{{url+'/user/avatar/'+usuario.image}}" alt="">
                </div>
                <button class="info__cambiarImg" (click)="abrirModal($event)">Change Image</button>
            </div>

            <div class=" info__data-container">
                <p class="info__data info__data-nick">@{{usuario.nick}} <span class="info__data-role"
                        *ngIf="usuario.role">({{usuario.role}})</span></p>
                <p class="info__data info__data-bio">{{usuario.bio}}</p>
                <p class="info__data info__data-following" (click)="abrirModal($event)">Following: {{follows.following}}
                </p>
                <p class="info__data info__data-followers" (click)="abrirModal($event)">Followers: {{follows.followed}}
                </p>
                <button class="info__editar" (click)="abrirModal($event)">Edit profile</button>
            </div>

        </div>

        <div class="publicaciones-container">
            <div class="publicaciones__publicacion" *ngFor="let publication of listaPublicaciones"
                (click)="abrirModalPublicacion(publication)">
                <img class="publicaciones__publicacion-img" src="{{url+'/publication/media/'+publication.file}}" alt="">
            </div>
            <p class="publicaciones__nueva" (click)="abrirModal($event)">Add Post</p>
        </div>

    </main>

    <div id="cambiarImg-modal">

        <form class="cambiarImg__form" (ngSubmit)="subirImagenAvatar()">

            <img class="icon__close" src="../../../assets/img/close.svg" (click)="cerrarModal($event)">

            <label class="cambiarImg__label" class="cambiarImg__label" for="cambiarImg__input">Select
                Image</label>

            <input id="cambiarImg__input" class="cambiarImg__input" type="file" accept=".png, .jpeg, .jpg, .png"
                (change)="obtenerImagenAvatar($event)" name="image">

            <input class="cambiarImg__submit" type="submit" value="Change" (click)="cerrarModal($event)">

        </form>

    </div>

    <div id="editarPerfil-modal">

        <form class="editarPerfil__form" (ngSubmit)="editarPerfil()">

            <img src="../../../assets/img/close.svg" class="icon__close" (click)="cerrarModal($event)">

            <label class="editarPerfil__label" for="nombre">Name:</label>
            <input type="text" class="editarPerfil__input" placeholder="nombre" [(ngModel)]="usuario.name"
                name="nombre">

            <label class="editarPerfil__label" for="nombre">Surname:</label>
            <input type="text" class="editarPerfil__input" placeholder="apellido" [(ngModel)]="usuario.surname"
                name="apellido">

            <label class="editarPerfil__label" for="nombre">Biography:</label>
            <input type="text" class="editarPerfil__input" placeholder="biografia" [(ngModel)]="usuario.bio"
                name="biografia">

            <label class="editarPerfil__label" for="nombre">Nick:</label>
            <input type="text" class="editarPerfil__input" placeholder="nick" [(ngModel)]="usuario.nick" name="nick">

            <label class="editarPerfil__label" for="role">Role:</label>
            <select [(ngModel)]="usuario.role" class="editarPerfil__input" name="role">
                <option value="">Select a role</option>
                <option value="role 1">Role 1</option>
                <option value="role 2">Role 2</option>
                <option value="role 3">Role 3</option>
            </select>

            <input class="editarPerfil__submit" type="submit" value="Edit" (click)="cerrarModal($event)">

        </form>

    </div>

    <div id="crearPublicacion-modal">

        <form class="crearPublicacion__form" (ngSubmit)="crearPublicacion()">

            <img src="../../../assets/img/close.svg" class="icon__close" (click)="cerrarModal($event)">

            <label class="crearPublicacion__label" class="crearPublicacion__label" for="crearPublicacion__input">Select
                Image</label>

            <input id="crearPublicacion__input" class="crearPublicacion__input" type="file"
                accept=".png, .jpeg, .jpg, .png" (change)="obtenerImagenPublicacion($event)" name="image">

            <textarea class="crearPublicacion__textarea" placeholder="Publication description" name="text"
                [(ngModel)]="infoPublicacion.text"></textarea>

            <input class="crearPublicacion__submit" type="submit" value="Create" (click)="cerrarModal($event)">

        </form>

    </div>

    <div id="infoImagen-modal">

        <div class="infoImagen-container">

            <img src="../../../assets/img/close.svg" class="icon__close" (click)="cerrarModal($event)">

            <img src="../../../assets/img/trash.svg" class="icon__trash" (click)="deseasEliminar()">

            <div class="infoImagen__img-container">
                <img class="infoImgen__img" src="{{url+'/publication/media/'+srcImg}}" alt="">
            </div>

            <div id="confirmar__eliminacion">
                <div class="confirmar__eliminacion-pico"></div>
                <button class="confirmar__eliminacion-confirmar" (click)="borrarPublicacion(true)">Eliminar</button>
                <button class="confirmar__eliminacion-cancelar" (click)="borrarPublicacion(false)">Cancelar</button>
            </div>

        </div>

    </div>

    <div id="following-modal">
        <img src="../../../assets/img/close-black.svg" class="icon__close" (click)="cerrarModal($event)">
        <div class="following-container">
            <img src="../../../assets/img/close-black.svg" class="icon__close" (click)="cerrarModal($event)">
            <ng-container *ngIf="resUsuario.following.length != 0; else sinFollowings">
                <div class="following__user" *ngFor="let following of resUsuario.following"
                    (click)="verPerfil(following.userProfile._id)">
                    <div class="following__user-img-container">
                        <img class="following__user-img" src="{{url+'/user/avatar/'+(following.userProfile?.image)}}"
                            alt="">
                    </div>
                    <p class="following__user-nick">@{{following.userProfile?.nick}}</p>
                </div>
            </ng-container>
            <ng-template #sinFollowings>
                <p>You don't follow anyone</p>
            </ng-template>
        </div>
    </div>

    <div id="followers-modal">
        <img src="../../../assets/img/close-black.svg" class="icon__close" (click)="cerrarModal($event)">
        <div class="followers-container">
            <img src="../../../assets/img/close-black.svg" class="icon__close" (click)="cerrarModal($event)">
            <ng-container *ngIf="resUsuario.followers.length != 0; else sinFollowers">
                <div class="followers__user" *ngFor="let followers of resUsuario.followers"
                    (click)="verPerfil(followers.userProfile._id)">
                    <div class="followers__user-img-container">
                        <img class="followers__user-img" src="{{url+'/user/avatar/'+(followers.userProfile?.image)}}"
                            alt="">
                    </div>
                    <p class="followers__user-nick">@{{followers.userProfile?.nick}}</p>
                </div>
            </ng-container>
            <ng-template #sinFollowers>
                <p>You don't have followers</p>
            </ng-template>
        </div>
    </div>

</body>

</html>