/** ------------  GENERAL ------------ **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/** ------------  PERFIL ------------ **/

#main {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.info-container {
    padding: 60px 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

.info__avatar-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info__img-container {
    overflow: hidden;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 50%;
    background: #fff;
}

.info__img {
    max-width: 100%;
    max-height: 100%;
}

.info__cambiarImg {
    cursor: pointer;
    color: #999;
    border: none;
    background: none;
}

.info__data-container {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.info__data {
    cursor: pointer;
    margin: 5px;
    width: fit-content;
}

.info__data-nick {
    cursor: default;
    font-size: 24px;
}

.info__data-bio {
    min-width: 200px;
    max-width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.info__data-role {
    margin: 0px 10px;
    font-size: 12px;
}

.info__editar {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(13, 13, 144);
    border: none;
    background: none;
    width: fit-content;
    margin: 10px 0px 0px 5px;
}





/** ------------  PUBLICACIONES ------------ **/

.publicaciones-container {
    border-top: 1px solid #aaa;
    position: relative;
    padding: 50px 20px 25px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.publicaciones__publicacion {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    width: 300px;
    height: 300px;
    background: #444;
}

.publicaciones__publicacion:hover {
    filter: brightness(.5);
    cursor: pointer;
}

.publicaciones__publicacion img {
    max-width: 100%;
    max-height: 100%;
}

.publicaciones__nueva {
    font-weight: bold;
    text-align: center;
    color: #fff;
    width: 150px;
    margin: 0 auto;
    padding: 5px 20px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: rgb(0, 118, 0);
    transition: background-color .3s;
}

.publicaciones__nueva:hover {
    cursor: pointer;
    background: rgb(0, 99, 0);
    transition: background-color .3s;
}

.icon__close {
    cursor: pointer;
    width: 35px;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon__trash {
    cursor: pointer;
    width: 35px;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
}





/** ------------  MODAL CAMBIAR IMAGEN ------------ **/

#cambiarImg-modal {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    background: #0005;
}

.cambiarImg__form {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    background: #0005;
}

.cambiarImg__label {
    cursor: pointer;
    color: #fff;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background: rgb(58, 58, 216);
}

.cambiarImg__input {
    display: none;
}

.cambiarImg__submit {
    cursor: pointer;
    color: #fff;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background: rgb(19, 124, 19);
}





/** ------------  MODAL EDITAR PERFIL ------------ **/

#editarPerfil-modal {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #0008;
}

.editarPerfil__form {
    width: 900px;
    min-height: 600px;
    margin: 0 auto;
    padding: 20px 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    background: #0005;
}

.editarPerfil__label {
    color: #eee;
    margin: 5px 20px;
    margin-top: 20px;
}

.editarPerfil__input {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    outline: none;
    background: #ddd;
}

.editarPerfil__error {
    display: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-align: center;
}

.editarPerfil__submit {
    cursor: pointer;
    color: #fff;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background: rgb(19, 124, 19);
}





/** ------------  MODAL AGREGAR PUBLICACION ------------ **/

#crearPublicacion-modal {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    background: #0005;
}

.crearPublicacion__form {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    background: #0005;
}

.crearPublicacion__label {
    cursor: pointer;
    color: #fff;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background: rgb(58, 58, 216);
}

.crearPublicacion__input {
    display: none;
}

.crearPublicacion__textarea {
    width: 500px;
    height: 100px;
    padding: 10px;
    resize: none;
    border: none;
    outline: none;
    background: #ddd;
}

.crearPublicacion__submit {
    cursor: pointer;
    color: #fff;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background: rgb(19, 124, 19);
}





/** ------------  MODAL INFO IMAGEN ------------ **/

#infoImagen-modal {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    background: #0005;
}

.infoImagen-container {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    padding: 60px;
    top: 200px;
    left: 0;
    right: 0;
    background: #0005;
}

.infoImagen__img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.infoImagen__img {
    max-width: 100%;
    max-height: 100%;
}

.infoImagen__p {
    color: #fff;
    width: 800px;
    text-align: center;
    overflow-y: scroll;
    max-height: 100px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.infoImagen__p::-webkit-scrollbar {
    width: 0px;
}

#confirmar__eliminacion {
    display: none;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    top: 70px;
    left: -62.5px;
    background: #000;
    border-radius: 10px;
    width: 200px;
    height: 100px;
}

.confirmar__eliminacion-pico {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: #000;
    position: absolute;
    top: -10px;
}

.confirmar__eliminacion-confirmar {
    background: rgb(189, 1, 1);
    border: none;
    padding: 5px;
    color: #eee;
}

.confirmar__eliminacion-cancelar {
    background: rgb(58, 58, 216);
    border: none;
    padding: 5px;
    color: #eee;

}





/** ------------  MODAL FOLLOWING ------------ **/

#following-modal {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    background: #0005;
}

.following-container {
    overflow-y: scroll;
    margin: 0 auto;
    padding: 50px;
    width: 900px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    background: #eee;
}

.following-container::-webkit-scrollbar {
    width: 0px;
}

.following__user {
    border: 1px solid #aaa;
    width: 700px;
    height: 82px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
}

.following__user:hover {
    cursor: pointer;
    background: #ccc;
}

.following__user-img-container {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 50%;
    background: #fff;
}

.following__user-img {
    max-width: 100%;
    max-height: 100%;
}





/** ------------  MODAL FOLLOWERS ------------ **/

#followers-modal {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    background: #0005;
}

.followers-container {
    overflow-y: scroll;
    margin: 0 auto;
    padding: 50px;
    width: 900px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    background: #eee;
}

.followers-container::-webkit-scrollbar {
    width: 0px;
}

.followers__user {
    border: 1px solid #aaa;
    width: 700px;
    height: 82px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
}

.followers__user:hover {
    cursor: pointer;
    background: #ccc;
}

.followers__user-img-container {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 50%;
    background: #fff;
}

.followers__user-img {
    max-width: 100%;
    max-height: 100%;
}
