<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form class="form__login" (ngSubmit)="login()">

        <label class="login__label" for="">Email:</label>
        <input class="login__input" type="email" placeholder="email" [(ngModel)]="usuario.email" name="email">

        <label class="login__label" for="">Password:</label>
        <input class="login__input" type="password" placeholder="password" [(ngModel)]="usuario.password"
            name="password">

        <input class="login__input-submit" type="submit" value="Log in">

    </form>
</body>

</html>