<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form class="form__register" (ngSubmit)="registrarUsuario()">

        <div class="register__inputs-group">
            <div class="register__inputs-container">
                <label class="register__label" for="">Name:</label>
                <input class="register__input" type="text" placeholder="Name" [(ngModel)]="usuario.name" name="nombre">
            </div>
            <div class="register__inputs-container">
                <label class="register__label" for="">Surname:</label>
                <input class="register__input" type="text" placeholder="Surname" [(ngModel)]="usuario.surname"
                    name="apellido">
            </div>
        </div>

        <div class="register__inputs-group">
            <div class="register__inputs-container">
                <label class="register__label" for="">Nick:</label>
                <input class="register__input" type="text" placeholder="Nick" [(ngModel)]="usuario.nick" name="nick">
            </div>
            <div class="register__inputs-container">
                <label class="register__label" for="">Email:</label>
                <input class="register__input" type="email" placeholder="Email" [(ngModel)]="usuario.email"
                    name="correo">
            </div>
        </div>

        <div class="register__inputs-group">
            <div class="register__inputs-container">
                <label class="register__label" for="">Password:</label>
                <input class="register__input" type="password" placeholder="Password" [(ngModel)]="usuario.password"
                    name="contrasena">
            </div>
            <div class="register__inputs-container">
                <label class="register__label" for="">Role:</label>
                <select class="register__input" [(ngModel)]="usuario.role" name="role">
                    <option value="">Select a role</option>
                    <option value="role 1">Role 1</option>
                    <option value="role 2">Role 2</option>
                    <option value="role 3">Role 3</option>
                </select>
            </div>
        </div>

        <input class="register__input-submit" type="submit" value="Register">

    </form>

</body>

</html>